<?xml version="1.0" encoding="utf-8"?>

<launch>
    <!-- Arguments -->
    <arg name="camera_ns" default="/cv_camera" />
    <arg name="roi_topic" default="/det_and_track/roi" />
    <arg name="dist_topic" default="/det_and_track/dist" />
    <arg name="camera_angle" default="0.0" />
    <arg name="robot_frame" default="base_link" />
    <arg name="camera_frame" default="camera" />
    <arg name="enable_vely" default="true" />
    <arg name="target_from_file" default="" />
    <arg name="debug" default="true" />

    <!-- Static Transform -->
    <node pkg="tf" type="static_transform_publisher" name="st_trans" args="0 0 0 0 0 0 base_link camera 40" />

    <!-- IBVS -->
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="ibvs" args="load merbots_ibvs/IBVSNodelet standalone_nodelet --no-bond" output="screen">
        <rosparam command="load" file="$(find merbots_ibvs)/launch/ibvs_params_sim.yaml" />
        <param name="camera_angle" value="$(arg camera_angle)" />
        <param name="robot_frame" value="$(arg robot_frame)" />
        <param name="camera_frame" value="$(arg camera_frame)" />
        <param name="enable_vely" value="$(arg enable_vely)" />
        <param name="target_from_file" value="$(arg target_from_file)" />
        <param name="debug" value="$(arg debug)" />

        <remap from="~twist" to="/ibvs/twist" />
        <remap from="~target" to="/det_and_track/target" />
        <remap from="~roi" to="$(arg roi_topic)" />
        <remap from="~dist" to="$(arg dist_topic)" />
        <remap from="~image" to="$(arg camera_ns)/image_raw" />
        <remap from="~camera_info" to="$(arg camera_ns)/camera_info" />
    </node>

</launch>
